.navbar-logo {
  max-height: 40px;
  width: auto;
  filter: invert(100%) hue-rotate(180deg); /*Flips/inverts the color of the png */
}

.navbar-brand {
  padding: 0px 15px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: white;
}

h1 {
  color: black;
  text-shadow: 2px 2px 4px white;
}

.hero-section {
  position: relative;
  width: 100%;
}

.hero-img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*Shifts text backwards by 50% of its own height and width */
  text-align: center;
  width: 100%;
}

.card {
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #b3e5ff, #66b2ff, #1b2f47);
}

.card img {
  max-height: 400px;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

.products .card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}
