@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Yellowtail&display=swap");

.navbar-logo {
  max-height: 40px;
  width: auto;
  filter: invert(100%) hue-rotate(180deg); /*Flips/inverts the color of the png */
}

.navbar-brand {
  padding: 0px 15px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: white;
}

h1 {
  color: black;
  text-shadow: 2px 2px 4px white;
}

.cursive-text {
  font-family: "Yellowtail", "Google Sans", sans-serif;
  letter-spacing: 2px;
}

.hero-section {
  position: relative;
  width: 100%;
}

.hero-img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*Shifts text backwards by 50% of its own height and width */
  text-align: center;
  width: 100%;
}

.featured-section {
  text-align: center;
  margin: 2rem auto;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

/* About Section */
.about-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 500px;
  position: relative;
}

.about-btn:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

/* Menu */
#menu {
  background: linear-gradient(to bottom, #0b1523, #0d3b66);
}

.menu-card-width {
  max-width: 350px;
}

/* Contact Form */

form input,
form textarea {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.line {
  height: 2px;
  width: 100%;
}

.footer-links a.text-dark:hover {
  color: rgb(34, 0, 228) !important;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* Media Queries */
@media (min-width: 768px) {
  /* md breakpoint */
  .featured-section p,
  .about-section p {
    font-size: 1.25rem;
  }

  .about-section button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }

  .menu-card-width {
    max-width: 900px;
  }

  .move-left:hover {
    transform: translateX(-10px);
    transition: transform 0.3s ease;
  }

  .move-right:hover {
    transform: translateX(10px);
    transition: transform 0.3s ease;
  }
}
